.bug-view {
  position: absolute;
  z-index: 10;
  width: 60vw;
  border: 1px solid var(--second-color);
  box-shadow: 2px 2px black;
  border-radius: 5px;
  background-color: var(--first-color);
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bug-view h1 {
  color: var(--fourth-color);
  min-width: 100%;
  text-align: center;
  font-size: 3rem;
  
}
