.bug-view {
  position: absolute;
  z-index: 10;
  width: 60vw;
  border: 1px solid var(--first-color);
  box-shadow: 2px 2px black;
  border-radius: 5px;
  background-color: var(--second-color);
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
