#root {
  grid-template-columns: 20% 80%;
  display: grid;
  margin: -8px;
  --prime-color: #112d4e; /* to set a variable in css use -- */
  --second-color: #3f72af;
  --third-color: #dbe2ef;
  --forth-color: #f9f7f7;
  color: var(--third-color);
}

button {
  background-color: var(--third-color);
  border-radius: 5px;
  padding: 5px 20px;
  color: var(--prime-color);
  font: normal bold 18px "Open Sans";
  margin-bottom: 10px;
}

button:hover {
  transition: all 0.5s;
  background: var(--forth-color);
}

button:focus {
  outline: none;
}